<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Benn Og Fix - Udlejning af værktøj</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container text-center">
        <div class="mx-auto" style="width: 30%; background-color: red; border-radius: 10px;">
        <h1 style="color:snow">Benn & Fix</h1>
        <h6 style="color:snow">Udlejning af værktøj</h6>
        </div>
        <br>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Benn & Fix - Af Kevin Jørgensen</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
